@{
    ViewData["Title"] = "Index";
}
<div class="col-11" style="padding: 25px;">
    <h2 style="color: #1F1E30;">BÁO CÁO TỔNG DOANH THU</h2>
    <div class="main-tracuu" style="background-color: white; padding: 25px; border-radius: 20px; height: 100vh">
        <div class="header-tracuu" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="date-picker">
                <input type="date" id="date" name="date"> -
                <input type="date" id="date" name="date">
            </div>

            <button style="background-color: #D8F275; color: black; border: 0; border-radius: 10px; padding: 5px 20px; font-weight: 600;">Lập báo cáo</button>

            <div class="total" style="background-color: black; padding: 15px; border-radius: 10px; width: 30%;">
                <label style="font-weight: 500; color: #D8F275; font-size: 18px;" for="">Tổng doanh thu</label>
                <br>
                <input type="text" style="width: 100%; border-radius: 5px;">
            </div>
        </div>

        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Doanh thu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <nav style="margin-left: 40%; display: flex;" aria-label="Page navigation example">
            <ul class="pagination" style="margin: 0; display: flex; align-items: center;">
                <li class="page-item">
                    <a style="border: 0; background-color: black; color: white; border-radius: 50%;" class="page-link" href="#" aria-label="Previous">
                        <i class='bx bx-chevron-left'></i>
                    </a>
                </li>
                <div class="pagnation" style="display: flex; margin: 0 10px; background-color: black; padding: 4px; border-radius: 20px;">

                <li class="page-item"><a style="border: 0; background-color: #D8F275; color: black; border-radius: 50%;" class="page-link" href="#">1</a></li>
                <li class="page-item"><a style="border: 0; background-color: black; color: white; font-weight: 100; border-radius: 50%; margin: 0 10px;" class="page-link" href="#">2</a></li>
                <li class="page-item"><a style="border: 0; background-color: black; color: white; font-weight: 100; border-radius: 50%;" class="page-link" href="#">3</a></li>
                <li class="page-item">

    </div>
    <a style="border: 0; background-color: black; color: white; border-radius: 50%;" class="page-link" href="#" aria-label="Previous">
        <i class='bx bx-chevron-right'></i>
    </a>
    </li>
    </ul>
    <div style="background-color: #D8F275; width: 22%; padding: 7px 0px 7px 12px; border-radius: 10px; margin-left: 40%; font-weight: bold; display: flex; align-items: center; cursor: pointer;" class="print">
        <i class='bx bx-printer'></i>
        In báo cáo
    </div>
    </nav>

</div>

            </div>