@model Software.Models.ThucDon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ThucDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaMon" />
            <div class="form-group">
                <label asp-for="TenMon" class="control-label"></label>
                <input asp-for="TenMon" class="form-control" />
                <span asp-validation-for="TenMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhMon" class="control-label"></label>
                <input asp-for="AnhMon" class="form-control" />
                <span asp-validation-for="AnhMon" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TinhTrang" /> @Html.DisplayNameFor(model => model.TinhTrang)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiMon" class="control-label"></label>
                <select asp-for="MaLoaiMon" class="form-control" asp-items="ViewBag.MaLoaiMon"></select>
                <span asp-validation-for="MaLoaiMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
