@model IEnumerable<Software.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<div class="main-tracuu" style="background-color: white; padding: 25px; border-radius: 20px; height: 900px;">
    <div class="header-tracuu" style="display: flex; justify-content: space-between; align-items: center;">
        <input type="text" placeholder="Họ tên, địa chỉ, số điện thoại" style="border: 0; border-radius: 20px; background-color: rgb(236, 233, 233); width: 40%; padding: 6px 10px;">
        <div class="sex">
            <div class="sex-attribute" style="background-color: rgb(236, 233, 233); border-radius: 20px; padding: 6px 10px; position: relative;">
                Giới tính
                <i class='bx bxs-down-arrow'></i>

                <ul class="list-sex">
                    <li class="list-sex-item">Nam</li>
                    <li class="list-sex-item">Nữ</li>
                </ul>
            </div>

        </div>
        <div class="position">
            <div class="position-attribute" style="background-color: rgb(236, 233, 233); border-radius: 20px; width: 220px; padding: 6px; position: relative;">
                Chức vụ
                <i style="margin-left: 60%;" class='bx bxs-down-arrow'></i>

                <ul class="list-position">
                    <li class="list-position-item">Nhân viên thu ngân</li>
                    <li class="list-position-item">Bảo vệ</li>
                    <li class="list-position-item">Phục vụ</li>
                    <li class="list-position-item">Đầu bếp</li>
                    <li class="list-position-item">Nhân viên pha chế</li>
                </ul>
            </div>


        </div>

        <button class="btn-search" type="button" style="background-color: #D8F275; color: black; border: 0; border-radius: 20px; padding: 5px 25px; font-weight: 500;">
            <i class='bx bx-search-alt'></i>
            Tìm kiếm
        </button>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Chứng minh thư</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Chức vụ</th>
                <th scope="col">Trạng thái hoạt động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <nav style="margin-left: 40%;" aria-label="Page navigation example">
        <ul class="pagination" style="margin: 0; display: flex; align-items: center;">
            <li class="page-item">
                <a style="border: 0; background-color: black; color: white; border-radius: 50%;" class="page-link" href="#" aria-label="Previous">
                    <i class='bx bx-chevron-left'></i>
                </a>
            </li>
            <div class="pagnation" style="display: flex; margin: 0 10px; background-color: black; padding: 4px; border-radius: 20px;">

            <li class="page-item"><a style="border: 0; background-color: #D8F275; color: black; border-radius: 50%;" class="page-link" href="#">1</a></li>
            <li class="page-item"><a style="border: 0; background-color: black; color: white; font-weight: 100; border-radius: 50%; margin: 0 10px;" class="page-link" href="#">2</a></li>
            <li class="page-item"><a style="border: 0; background-color: black; color: white; font-weight: 100; border-radius: 50%;" class="page-link" href="#">3</a></li>
            <li class="page-item">

</div>
<a style="border: 0; background-color: black; color: white; border-radius: 50%;" class="page-link" href="#" aria-label="Previous">
    <i class='bx bx-chevron-right'></i>
</a>
                        </li>
                      </ul>
                    </nav>
                </div>
